@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.sub_page .header_area {
    height: auto;
}

.header_area {
    height: 98vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #eae6f5;
}

/* navigation header starts*/
.header_section .container {
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
    z-index: 999;
    transition: background-color box-shadow 0.4s ease-in-out;
    background-color: #060606;
}

nav.scrolled {
    background-color: #000000d3;
    box-shadow: rgba(56, 56, 57, 0.2) 0px 7px 29px 0px;
    opacity: 1.5;
}

nav a {
    text-decoration: none;
    color: #bfbfbf;
    font-weight: 500;
}

nav a.active {
    color: azure;
}

.logo img {
    width: 50%;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nav-link {
    margin-left: 3rem;
}

li {
    list-style: none;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

/* navigation header ends*/


/* car detail starts */

.car-wrapper{
    max-width: 1100px;
    margin: 140px auto 30px auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
    width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}

.product-price{
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #ff2525;
    font-weight: 600;
    font-size: 20px;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.car-listing-item-field-container {
    margin-left: -10px;
    margin-bottom: 15px;
}

.list-group{
    padding: 0 30px !important;
}

.list-group-item .display-car-style {
    display: flex;
}

.car-listing-item-field-container .car-listing-item-field {
    float: left;
    margin-left: 10px;
    padding-left: 5px;
    margin-top: 10px;
}

.car-listing-item-field-container .car-listing-item-field .car-listing-item-field-label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    color: #3f3f3f;
}

.car-listing-item-field-container .car-listing-item-field .car-listing-item-field-value {
    font-size: 10px;
    display: block;
    color: #3f3f3f;
}

.car-listing-item-buttons .btn {
    margin-top: 30px;
    margin-right: 10px;
    white-space: normal;
    color: #ffffff;
    background-color: #505050;
    border-color: #3f3f3f !important;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}


@media screen and (min-width: 992px){
    .cars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .car-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

.img-display {
    position: relative;
    overflow: hidden;
}

/*Image slider navigation button*/

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.prev-button {
    left: 10px;
    font-size: 30px;
}

.next-button {
    right: 10px;
    font-size: 30px;
}


/*Car detail style ends */



/* Loan Calculator Styles Starts */

.wpb_column  {
    
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color:#d3d1d1;
    margin-bottom: 30px;
}

.vc_custom_heading {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    color: #333;
    /* Adjust color as necessary */
}

.vc_separator {
    text-align: center;
    width: 100%;
}

.vc_sep_line {
    border-color: #333;
    /* Adjust separator color as necessary */
}

    .vc_column-inner{
        width:30% ;
    }

/* Input Group Styles */

.dws-loan-calculator-container .input-group {
    position: relative;
    width: 100%;
}

.dws-loan-calculator-container .input-group label {
    position: absolute;
    left: 10px;
    top: 7px;
    z-index: 5;
    color: #222;
    /* Adjust label color as necessary */
}


/* Input Field Styles */

.dws-loan-calculator-container .form-control {
    padding: 12px 10px;
    text-align: right;
    width: 100%;
}


/* Button Styles */

.dws-loan-calculator-container .dws-loan-calculator-calc-button {
    padding: 12px 10px;
    color: #f0f0f0;
    background-color: #212121;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dws-loan-calculator-container .dws-loan-calculator-calc-button:hover {
    background-color: #272727;
}

.dws-loan-calculator-container .dws-loan-calculator-calc-button .dws-vdp-btn-icon {
    margin-left: 8px;
}


/* Result Display Styles */

.dws-loan-calculator-container .form-control {
    padding: 15px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.dws-loan-calculator-container .input-group-addon {
    padding: 10px 12px;
    font-size: 16px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-left: 0;
}

.dws-loan-calculator-container .input-group label {
    top: 12px;
    font-size: 14px;
    background-color: #fff;
    padding: 0 5px;
    margin-left: -5px;
}

.dws-loan-calculator-result {
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 18px;
    display: none; /* Hidden by default, shown after calculation */
    
}


/* Additional Styles for Responsiveness and Visual Appeal */

@media (max-width: 768px) {
    .dws-loan-calculator-container .input-group label {
        font-size: 14px;
    }

    .wpb_column {
        padding: 60px 30px;
    }

    .vc_column-inner{
        width: auto!important;
    }
}


/* Error Message Styles */

.error-message {
    color: #d9534f;
    font-size: 0.9rem;
    margin-top: 4px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    padding-left: 10px;

}

.dws-loan-calculator-container .form-control {
    border-color: #ced4da;
    margin-bottom: 0;
}

.dws-loan-calculator-container .form-control.error {
    border-color: #d9534f;     /* Changes border color to red when there is an error */

}


/* Adjusts the layout to accommodate error messages */

.dws-loan-calculator-container .input-group {
    margin-bottom: 15px;
    /* Adds space between input groups */
}

/*Loan calculator styles ends*/


/* Footer section starts*/
.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.logo img {
    width: 50%;
}

.footer-col {
    margin-bottom: 20px;
}

.top-footer {
    width: 100%;
    background: #222222;
    padding: 3rem 4rem;
}

.footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-col .icons {
    display: inline-flex;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: #afb6c7;
    transition-duration: 0.3s;
}

.footer-col .icons i:hover {
    color: #fff;
    transform: scale(1.2);
}

.footer-col .footer-links {
    margin-top: 30px;
    padding: 0;
}

.footer-col .footer-links .links {
    margin-bottom: 16px;
    padding: 0;
}

.footer-col .footer-links .links a {
    text-decoration: none;
    color: #bfbfbf;
    padding: 0;
}

.footer-col .footer-links .links a:hover {
    color: #fff;
}

.footer-col p {
    margin: 30px 0;
    color: #bfbfbf;
    max-width: 450px;
    font-size: 14px;
    line-height: 26px;
}

.footer-col form {
    display: flex;
    gap: 12px;
    margin: 30px 0;
}

.footer-col input {
    height: 40px;
    border-radius: 8px;
    background: none;
    font-size: 14px;
    width: 100%;
    outline: none;
    border: 1px solid #ffffff85;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}

.footer-col form button {
    background: #FF0003;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: 0.2s ease;
}

.footer-col form button:hover {
    background: #E50002;
}

.bottom-footer {
    display: flex;
    justify-content: center;
    padding: 1.8rem;
    background-color: #000000;
    border-top: 1px solid #323232;
}

.bottom-footer p {
    color: #f0f0f0;
    text-align: center;
}

.bottom-footer a {
    color: #E50002;
}

a {
    text-decoration: none;
}

/* Footer section ends*/

/* Laptop */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1100px;
    }

    .about-section .container-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Tablet */
@media screen and (min-width:768px) and (max-width: 1023px) {
    .container {
        max-width: 720px;
    }

    .container-column img {
        margin-top: 50px;
    }

    .header_section {
        padding-top: 10px;
    }

    .logo img {
        width: 50%;
    }

    nav {
        padding: 3rem 2rem;
    }

    .nav-menu.active {
        left: 0;
        top: 0;
        padding: 4rem 0;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #000000d3;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        margin: 1.2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 5;
        right: 35px;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .top-footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        padding: 4rem 2rem;
    }

    .footer-col {
        margin-bottom: 20px;
        width: 100%;
    }

    .footer-col form {
        display: block;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }

    .bottom-footer p {
        font-size: 14px;
    }

    li a {
        color: #bfbfbf;
        font-size: 16px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {

    nav {
        padding: 3rem 2rem;
    }

    .logo img {
        width: 50%;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #000000d3;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        top: 0;
        padding: 4rem 0;
    }

    .nav-link {
        margin: 1.2rem 0;
    }

    li {
        margin: 1.2rem 0;
    }

    li a {
        color: #bfbfbf;
        font-size: 16px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 5;
        right: 35px;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .container-column img {
        margin-top: 50px;
    }

    .top-footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        padding: 4rem 2rem;
    }

    .footer-col {
        margin-bottom: 20px;
        width: 100%;
    }

    .footer-col form {
        display: block;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }

    .bottom-footer p {
        font-size: 14px;
    }
}