@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.sub_page .header_area {
    height: auto;
}

.header_area {
    height: 98vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #eae6f5;
}


/* navigation header starts*/

.header_section .container {
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
    z-index: 999;
    transition: background-color box-shadow 0.4s ease-in-out;
    background-color: #060606;
}

nav.scrolled {
    background-color: #000000d3;
    box-shadow: rgba(56, 56, 57, 0.2) 0px 7px 29px 0px;
    opacity: 1.5;
}

nav a {
    text-decoration: none;
    color: #bfbfbf;
    font-weight: 500;
}

nav a.active {
    color: azure;
 }

.logo img {
    width: 50%;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    margin-left: 3rem;
}

li {
    list-style: none;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}


/* navigation header ends*/

.layout_padding {
    padding-top: 150px;
    padding-bottom: 100px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading_container {
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-right: 12px;
}

h2,
.h2 {
    font-size: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.heading_container i {
    width: 30px;
    font-size: x-large;
    color: #ee0002;
}

img {
    vertical-align: middle;
    border-style: none;
}

.container-row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container-column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

button,
input {
    overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.button-flex {
    display: flex !important;
}


/* Footer section starts*/

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.logo img {
    width: 50%;
}

.footer-col {
    margin-bottom: 12px;
}

.top-footer {
    width: 100%;
    background: #222222;
    padding: 3rem 4rem;
}

.footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-col .icons {
    display: inline-flex;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: #afb6c7;
    transition-duration: 0.3s;
}

.footer-col .icons i:hover {
    color: #fff;
    transform: scale(1.2);
}

.footer-col .footer-links {
    margin-top: 30px;
    padding: 0;
}

.footer-col .footer-links .links {
    margin-bottom: 16px;
    padding: 0;
}

.footer-col .footer-links .links a {
    text-decoration: none;
    color: #bfbfbf;
    padding: 0;
}

.footer-col .footer-links .links a:hover {
    color: #fff;
}

.footer-col p {
    margin: 30px 0;
    color: #bfbfbf;
    max-width: 450px;
    font-size: 14px;
    line-height: 26px;
}

.footer-col form {
    display: flex;
    gap: 12px;
    margin-top: 30px;
}

.footer-col input {
    height: 40px;
    border-radius: 8px;
    background: none;
    font-size: 14px;
    width: 100%;
    outline: none;
    border: 1px solid #ffffff85;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: #c3c3c37e;
}

.footer-col input:focus {
    border: 1px solid rgb(184, 184, 184);
    box-shadow: 0 0 4px rgb(170, 170, 170);
}

.footer-col form button {
    background: #FF0003;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: 0.2s ease;
}

.footer-col form button:hover {
    background: #E50002;
}

.bottom-footer {
    display: flex;
    justify-content: center;
    padding: 1.8rem;
    background-color: #000000;
    border-top: 1px solid #323232;
}

.bottom-footer p {
    color: #f0f0f0;
    text-align: center;
}

.bottom-footer a {
    color: #E50002;
}

a {
    text-decoration: none;
}


/* Footer section ends*/


/* Laptop */

@media screen and (min-width: 1024px) {
    .container {
        max-width: 90%;
    }
    .container-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


/* Tablet */

@media screen and (min-width:768px) and (max-width: 1023px) {
    .container {
        max-width: 720px;
    }
    .container-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .header_section {
        padding-top: 10px;
    }
    .logo img {
        width: 50%;
    }
    nav {
        padding: 3rem 2rem;
    }

    li a {
        color: #bfbfbf;
        font-size: 16px;
    }

    .nav-menu.active {
        left: 0;
        top: 0;
        padding: 4rem 0;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #000000d3;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-link {
        margin: 1.2rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 5;
        right: 35px;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .top-footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        padding: 4rem 2rem;
    }
    .footer-col {
        margin-bottom: 20px;
        width: 100%;
    }
    .footer-col form {
        display: block;
    }
    .footer-col form :where(input,
    button) {
        width: 100%;
    }
    .footer-col form button {
        margin: 10px 0 0 0;
    }
    .bottom-footer p {
        font-size: 14px;
    }
}


/* Mobile */

@media screen and (max-width: 767px) {
    nav {
        padding: 3rem 2rem;
    }
    .logo img {
        width: 50%;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #000000d3;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
        top: 0;
        padding: 4rem 0;
    }
    .nav-link {
        margin: 1.2rem 0;
    }
    li {
        margin: 1.2rem 0;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 5;
        right: 35px;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    li a {
        color: #bfbfbf;
        font-size: 16px;
    }
    .top-footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        padding: 4rem 2rem;
    }
    .footer-col {
        margin-bottom: 20px;
        width: 100%;
    }
    .footer-col form {
        display: block;
    }
    .footer-col form :where(input,
    button) {
        width: 100%;
    }
    .footer-col form button {
        margin: 10px 0 0 0;
    }
    .bottom-footer p {
        font-size: 14px;
    }
}


/* Blog section */

.blog_section .heading_container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.blog_section .heading_container h2::before {
    background-color: #ffffff;
}

.blog_section .box {
    margin-top: 55px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.blog_section .box .img-box {
    position: relative;
}

.blog_section .box .img-box img {
    width: 100%;
}

.blog_section .box .detail-box {
    padding: 25px 25px 15px;
}

.blog_section .box .detail-box h5 {
    font-size: 24px;
    font-weight: 500;
}

.blog_section .box .detail-box p {
    color: #575a7b;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    margin-top: 16px;
}

.blog_section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog_section .custom-column {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .blog_section .custom-column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}