*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.sub_page .hero_area {
    height: auto;
}

.hero_area {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #eae6f5;
}

.contact_section {
    position: relative;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading_container {
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-right: 10px;
}

h2, .h2 {
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.heading_container img {
    width: 30px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.container-row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container-column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.contact_section form {
    margin-top: 45px;
    padding-right: 35px;
}

.contact_section input, .contact_section textarea {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: transparent;
    outline: none;
    color: #101010;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.contact_section textarea.message-box {
    height: 120px;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.button-flex {
    display: flex !important;
}

.contact_section button {
    border: none;
    display: inline-block;
    padding: 12px 45px;
    background-color: #4b208c;
    color: #ffffff;
    border-radius: 0px;
    margin-top: 35px;
}

.contact_section .map_container {
    height: 100%;
    min-height: 325px;
}

.contact_section .map_container .map-responsive {
    height: 100%;
}

/* Laptop */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }

    .container-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Tablet */
@media screen and (min-width:768px) and (max-width: 1023px) {
    .container {
        max-width: 960px;
    }

    .container-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {

    .contact_section form {
        padding-right: 0;
    }
    .contact_section .map_container {
        margin-top: 45px;
    }
}
